@using Steps.Client.Features.EntityFeature.TeamsFeature.Components
@using Steps.Client.Features.EntityFeature.UsersFeature.Services
@using Steps.Shared.Contracts.Accounts.ViewModels
@using Steps.Shared.Contracts.Clubs.ViewModels


<RadzenPanel AllowCollapse="true" class="rz-my-10 rz-mx-auto" Style="width: 90%">
    <HeaderTemplate>
        <RadzenCard Variant="Variant.Filled" class="rz-my-3 rz-mx-auto" Style="width: 80%">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Center" Gap="1.5rem" class="rz-p-4">
                <RadzenStack Gap="0.5rem" Style="width: 100%">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-1 rz-text-muted">
                        Название
                    </RadzenText>
                    <RadzenText TextStyle="TextStyle.H6" class="rz-mb-3">
                        @Model.Name
                    </RadzenText>

                    <RadzenText TextStyle="TextStyle.Overline" class="rz-mb-1 rz-text-muted">
                        Владелец
                    </RadzenText>
                    <div>
                        @if (_owner is null)
                        {
                            <RadzenBadge Shade="Shade.Light" Text="Не назначен"
                                         Style="width: 120px; padding: 0.25rem 0.5rem" />
                        }
                        else
                        {
                            <RadzenBadge Shade="Shade.Darker" Variant="Variant.Outlined"
                                         Text="@_owner.Login"
                                         Style="padding: 0.25rem 0.75rem" />
                        }
                    </div>
                </RadzenStack>
            </RadzenStack>
        </RadzenCard>
    </HeaderTemplate>

    <ChildContent>
        <div class="rz-mt-4" style="width: 100%">
            <TeamsManageByClub Club="@Model" />
        </div>
    </ChildContent>

    @* <SummaryTemplate>
        <RadzenCard class="rz-mt-3 rz-p-3" Style="background-color: var(--rz-base-100); width: 100%">
            <RadzenText TextStyle="TextStyle.Caption">
                Всего команд: <b>@(Model.Teams?.Count ?? 0)</b>
            </RadzenText>
        </RadzenCard>
    </SummaryTemplate> *@
</RadzenPanel>


@code {
    private UserViewModel? _owner;

    [Inject] public UsersManager UsersManagerEntityManager { get; set; } = null!;
    [Parameter] public ClubViewModel Model { get; set; } = null!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // var result = await UsersManager.Read(Model.OwnerId);
        // if (result?.IsSuccess == true) _owner = result.Value;
    }

}