@using Steps.Client.Features.EntityFeature.ContestsFeature.Components
@using Steps.Client.Features.EntityFeature.GroupBlocksFeature.Components
<h3>@this</h3>
<StepsPageTitle>Мероприятия</StepsPageTitle>

<ContestManage/>


<GroupBlocksManage/>