@using Steps.Shared.Contracts.Contests.ViewModels

@inherits ManageBaseComponent<Contest, ContestViewModel, CreateContestViewModel, UpdateContestViewModel>

@if (Manager.Data != null && Manager.Data.Any())
{
    <RadzenCard>
        <RadzenScheduler @ref=@scheduler TItem="ContestViewModel" Data="Manager.Data"
                         StartProperty="StartDate" EndProperty="EndDate" TextProperty="Name"
                         AppointmentSelect="@(e => DialogManager.ShowCardDialog(e.Data))"
                         SlotSelect="@(e => DialogManager.ShowCreateDialog())">
            <RadzenMonthView />
            <RadzenWeekView />
            <RadzenDayView />
        </RadzenScheduler>
    </RadzenCard>
}
else
{
    <p>Нет данных для отображения.</p>
}

@code{

    RadzenScheduler<ContestViewModel> scheduler;

}