@using Steps.Shared.Contracts.Contests.ViewModels

@inherits ManageBaseComponent<Contest, ContestViewModel, CreateContestViewModel, UpdateContestViewModel>

<RadzenCard Style="width: 100%; max-width: 600px;">
        <p><strong>Адрес:</strong> @Model.Name</p>

        <RadzenButton Text="Создать заявку" Icon="add" ButtonStyle="ButtonStyle.Primary"
                      Click="() => OnCreate()" Style="margin-bottom: 10px;" />
</RadzenCard>

@code {
    [Parameter] public ContestViewModel Model { get; set; } = null!;
}