@using Steps.Shared.Contracts.Clubs.ViewModels
@using Steps.Shared.Contracts.Contests.ViewModels

<h3>@this</h3>
@Club.Name
@Club.OwnerId

@code {
    [Parameter] public ClubViewModel Club { get; set; } = null!;
}