@inherits ManageBaseComponent<Entry, Steps.Shared.Contracts.Entries.ViewModels.EntryViewModel, Steps.Shared.Contracts.Entries.ViewModels.CreateEntryViewModel, Steps.Shared.Contracts.Entries.ViewModels.UpdateEntryViewModel>

<h3>EntryCard</h3>

@code {
    
}