@page "/Users"
@using Steps.Client.Features.Organizer.UsersFeature.Components
@using TeamsManage = Steps.Client.Features.Organizer.TeamsFeature.Components.TeamsManage

<h3>UsersPage</h3>

<UsersManage/>